.sec{
  width: 450px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  .rowA{
    display: flex;
    flex-direction: row;

    .int {
      width: 40%;
      height: 30px;
      border: 1px solid silver;
      outline: none !important;
      margin-top: 3%;
      margin-left: 5%;
    }
  }
  .rowB{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    .flex-column{
      width: 40%;
      height: auto;
      margin-top: 10%;
      margin-left: 10%;
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      button{
        width: 90%;
        height: 60px;
        margin-top: 15px;

        svg{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .results{
    width: 35%;
    margin-top: 10px;
    margin-left: 30%;
    padding: 5px;

    h1{
      color: aqua;
      text-align: center;
    }
  }
}

.sec{
  background-color: #808080;
}